<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>eCare</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css" />
</head>
<body>
<div id="root" class="container">
    <div class="row">
        <div class="twelve columns">
            <h1>Available tariffs</h1>
            <ul>
                <li v-for="tariff in tariffs">
                    <h3> {{tariff.title}} </h3>
                    <p> {{tariff.description}} </p>
                    <p> {{tariff.price}} </p>
                </li>
            </ul>
        </div>
    </div>
</div>

</body>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://vuejs.org/js/vue.js"></script>
<script>
    var app = new Vue({
        el: '#root',
        data: {tariffs: []},
        mounted() {
            this.fetchTariffs();
        },
        methods: {
            fetchTariffs(){
                axios.get("/tariffs").then(function(response){
                    this.tariffs = response.data;
                }.bind(this));
            }
        }
    });
</script>
</html>