<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>eCare</title>
    <link rel="stylesheet" href="/css/main.css" />
</head>
<body>
<div id="root">
    <div id="tariffsBlock">
        <h1>Available tariffs</h1>
        <div v-for="tariff in tariffs">
            <label>
                <div>
                    <input type="radio" v-model="tariff.chosen" :checked="tariff.chosen" v-on:click="choseTariff(tariff)">
                    {{tariff.title}}
                </div>
                <div>{{tariff.description}}</div>
                <div>{{tariff.price}} euro per month</div>
            </label>
        </div>
    </div>
    <div v-if="chosenTariff"> Chosen tariff: (monatl. {{chosenTariff}}EUR) </div>
</div>

</body>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://vuejs.org/js/vue.js"></script>
<script>
    var app = new Vue({
        el: '#root',
        data: {tariffs: [], chosenTariff:""},
        mounted() {
            this.fetchTariffs();
        },
        methods: {
            fetchTariffs(){
                axios.get("/tariffs").then(function(response){
                    this.tariffs = response.data;
                }.bind(this));
            },
            choseTariff(tariff){
                this.chosenTariff = tariff.title;
                this.tariffs.forEach(function (t, i, tariffs) {
                    if (t.id !== tariff.id) {
                        tariffs[i].chosen = false
                    }
                })
            }
        }
    });
</script>
</html>